In [1]:
import pandas as pd
import numpy as np
import featuretools as ft
pd.options.display.max_columns=1000
pd.options.display.max_rows=10

In [2]:
app_train = pd.read_csv('C://Users/matth/home-credit-default-risk/application_train.csv').sort_values('SK_ID_CURR').reset_index(drop = True)
app_test = pd.read_csv('C://Users/matth/home-credit-default-risk/application_test.csv').sort_values('SK_ID_CURR').reset_index(drop = True)

In [3]:
app_train.shape

(307511, 122)

In [4]:
app_test.shape

(48744, 121)

In [5]:
app=app_train.append(app_test,ignore_index=True)

In [6]:
app=app.drop("SK_ID_CURR",axis=1)

In [54]:
categorical_features=app.select_dtypes(include="object").columns

In [62]:
unique_values=[len(app[x].unique()) for x in categorical_features]

In [83]:
label_encoding=pd.DataFrame(data=unique_values,index=categorical_features,columns=["Number of unique"]).\
sort_values(by="Number of unique",ascending=False)[:8].index

In [89]:
get_dummies=pd.DataFrame(data=unique_values,index=categorical_features,columns=["Number of unique"]).\
sort_values(by="Number of unique",ascending=False)[8:].index

In [109]:
pd.DataFrame(data=unique_values,index=categorical_features,columns=["Number of unique"]).\
sort_values(by="Number of unique",ascending=False)[8:]

                     Number of unique
NAME_EDUCATION_TYPE                 5
FONDKAPREMONT_MODE                  5
HOUSETYPE_MODE                      4
CODE_GENDER                         3
EMERGENCYSTATE_MODE                 3
NAME_CONTRACT_TYPE                  2
FLAG_OWN_CAR                        2
FLAG_OWN_REALTY                     2

In [96]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for c in label_encoding:
    le.fit(list(app[c].values))
    app[c]=le.transform(list(app[c].values))

In [115]:
app=pd.get_dummies(app,drop_first=True)

In [157]:
correlations=app.corr()["TARGET"]

In [158]:
correlations=pd.DataFrame(correlations)
correlations["TARGET abs"]=abs(correlations["TARGET"])

In [159]:
correlations=correlations.sort_values(by="TARGET abs",ascending=False)

In [160]:
correlations

                    TARGET  TARGET abs
TARGET            1.000000    1.000000
EXT_SOURCE_3     -0.178919    0.178919
EXT_SOURCE_2     -0.160472    0.160472
EXT_SOURCE_1     -0.155317    0.155317
DAYS_BIRTH        0.078239    0.078239
...                    ...         ...
FLAG_DOCUMENT_12 -0.000756    0.000756
FLAG_MOBIL        0.000534    0.000534
FLAG_CONT_MOBILE  0.000370    0.000370
FLAG_DOCUMENT_5  -0.000316    0.000316
FLAG_DOCUMENT_20  0.000215    0.000215

[128 rows x 2 columns]

In [237]:
relevant_features=correlations.index[1:15]

In [238]:
missing_data=[app[x].isna().sum()/len(app[x]) for x in relevant_features if app[x].isna().sum()!=0]

In [239]:
missing_cols=[x for x in relevant_features if app[x].isna().sum()!=0]

In [240]:
missing_data=pd.DataFrame(data=missing_data,index=missing_cols,columns=["% of missing data"])

In [241]:
missing_data=missing_data.sort_values(by="% of missing data",ascending=False)

In [242]:
missing_data

              % of missing data
EXT_SOURCE_3           0.195458
EXT_SOURCE_2           0.001875

In [171]:
ext1_corr=app.corr()["EXT_SOURCE_1"]

In [175]:
abs(pd.DataFrame(ext1_corr)).sort_values(by="EXT_SOURCE_1", ascending=False)

                               EXT_SOURCE_1
EXT_SOURCE_1                       1.000000
DAYS_BIRTH                         0.586844
CODE_GENDER_M                      0.302433
FLAG_EMP_PHONE                     0.284973
DAYS_EMPLOYED                      0.280783
...                                     ...
HOUSETYPE_MODE_terraced house      0.000729
LANDAREA_MODE                      0.000518
CODE_GENDER_XNA                    0.000452
FLAG_DOCUMENT_16                   0.000094
FLAG_MOBIL                              NaN

[128 rows x 1 columns]

In [190]:
missing_ext1_rows= app[app["EXT_SOURCE_1"].isna()].index

In [191]:
missing_ext1_rows

Int64Index([     2,      3,      4,      5,      7,      9,     13,     16,
                17,     18,
            ...
            356216, 356220, 356223, 356229, 356233, 356240, 356246, 356250,
            356251, 356254],
           dtype='int64', length=193910)

In [209]:
app[(app["DAYS_BIRTH"]==app["DAYS_BIRTH"].median()) & (app["CODE_GENDER_M"]==app["CODE_GENDER_M"].median())]["EXT_SOURCE_1"]\
.median()

0.5436872874049463

In [210]:
#This takes 100 years
for x in missing_ext1_rows:
    app.loc[x,"EXT_SOURCE_1"]=app[(app["DAYS_BIRTH"]==app.loc[x,"DAYS_BIRTH"]) & (app["CODE_GENDER_M"]==app.loc[x,"CODE_GENDER_M"])]\
    ["EXT_SOURCE_1"].median()

C:\Users\matth\anaconda3\envs\Kaggle\lib\site-packages\numpy\lib\nanfunctions.py:1113: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [219]:
app["EXT_SOURCE_1"].fillna(app["EXT_SOURCE_1"].median(),inplace=True)

In [226]:
app["DAYS_LAST_PHONE_CHANGE"].fillna(app["DAYS_LAST_PHONE_CHANGE"].median(),inplace=True)

In [243]:
app[relevant_features].isna().sum()

EXT_SOURCE_3                                         69633
EXT_SOURCE_2                                           668
EXT_SOURCE_1                                             0
DAYS_BIRTH                                               0
REGION_RATING_CLIENT_W_CITY                              0
                                                     ...
DAYS_ID_PUBLISH                                          0
REG_CITY_NOT_WORK_CITY                                   0
NAME_EDUCATION_TYPE_Secondary / secondary special        0
NAME_INCOME_TYPE                                         0
FLAG_EMP_PHONE                                           0
Length: 14, dtype: int64

In [245]:
ext2_corr=app.corr()["EXT_SOURCE_2"]

In [246]:
abs(pd.DataFrame(ext2_corr)).sort_values(by="EXT_SOURCE_2", ascending=False)

                             EXT_SOURCE_2
EXT_SOURCE_2                     1.000000
REGION_RATING_CLIENT             0.296715
REGION_RATING_CLIENT_W_CITY      0.291888
REGION_POPULATION_RELATIVE       0.201630
DAYS_LAST_PHONE_CHANGE           0.198574
...                                   ...
AMT_REQ_CREDIT_BUREAU_DAY        0.000605
FLAG_DOCUMENT_20                 0.000519
FLAG_DOCUMENT_7                  0.000449
CNT_FAM_MEMBERS                  0.000435
FLAG_MOBIL                            NaN

[128 rows x 1 columns]

In [247]:
missing_ext2_rows= app[app["EXT_SOURCE_2"].isna()].index

In [248]:
missing_ext2_rows

Int64Index([   329,    349,    617,   1028,   1520,   2098,   2426,   2448,
              2756,   3212,
            ...
            307029, 307387, 316023, 317969, 328160, 338813, 342465, 347261,
            349108, 355455],
           dtype='int64', length=668)

In [249]:
#This takes 100 years
for x in missing_ext2_rows:
    app.loc[x,"EXT_SOURCE_2"]=app[(app["REGION_RATING_CLIENT"]==app.loc[x,"REGION_RATING_CLIENT"]) & (app["REGION_RATING_CLIENT_W_CITY"]==app.loc[x,"REGION_RATING_CLIENT_W_CITY"])]\
    ["EXT_SOURCE_1"].median()

In [219]:
app["EXT_SOURCE_1"].fillna(app["EXT_SOURCE_1"].median(),inplace=True)